language: ruby
rvm: 2.2.3
env: CODECLIMATE_REPO_TOKEN=1db52f66a36ea0f99a5fdfccabaeb065503615fef8dbf49087f9a1e8692af3b2
before_script: 
  - cp config/database.yml.example config/database.yml
  - mysql -e 'create database ftforms_test'
script: 'bundle exec rake db:reset travis'
notifications:
  email:
    recipients:
      - programmers@admin.umass.edu
