html {
  box-sizing: border-box;
}
* {
  box-sizing: inherit; 
}
.container{
  .headers{
    font-weight: bold; 
    text-align: center;
    width: 95%;
    margin-left: 4em;
  }
}
span.grabbable-number.btn.btn-info{
  cursor: move;
  float: left;
  height: 2.5em;
  width: 2.5em;
}
.options textarea{
  height: 4em;
  width: 10em;
  float: right;
}
#flex_wrapper{
  display: flex;
}
.row{
  margin: 1em;
}
.field{
  width: 900px;
}
.buttons{
  width: 200px;
}
.form-attributes{
 width: 50%; 
 margin: 0px auto;
}
.remove{
  cursor: pointer;
}
#add-new{
  float: left;
}
