table#edit_draft{
  margin: 1em auto;
  th, td{
    padding: 0.5em 0.25em;
    text-align: center;
  }
}
#flex_wrapper{
  display: flex;
  align-items: flex-start;
  .flex_col{
    border: 1px solid black;
    flex-direction: column;
  }
}
