.options{
  text-align: center;
  margin: 1em 0;
}

#flex-wrapper{
  display: flex;
}

.col{
  flex-direction: column;
}

.row{
  height: 80px;
  margin: 1em;
  flex: 1;
}

.field{
  width: 900px;
}

.buttons{
  width: 200px;
}
