.dynamic_form{
  margin: 0 5em;

  .title{
    text-align: center;
  }

  .heading{
    background:  #ece0e0;
    font-size:   20px;
    font-weight: bold;
    margin:      1em auto;
    padding:     0.3em;
    text-align:  center;
  }

  .explanation{
    text-align: center;
  }

  .field{
    margin: 1em;
    .label{
      display:      inline-block;
      margin-right: 1em;
      text-align:   right;
      width:        18em;
    }
    input[type='number']{
      width: 3em;
    }
    select{
      border: 1px solid gray;
      width:  25em;
    }
  }

  span.ast{
    color: red;
  }
}
